---
# Configuration clang-tidy pour C++98
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-redundant-string-init,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: '_'
